# --- Java & Maven ---
*.class
*.jar
*.war
*.ear
*.ids
*.log
*.log.*
*.tmp
*.bak
*.swp
*~.nib
**/target/
**/.mvn/
hs_err_pid*

# --- Spring Boot ---
spring.log

# --- IDEs ---
*.iml
*.ipr
*.iws
.idea/
*.vs/
*.vscode/
*.launch
*.settings/
.classpath
.project
.loadpath
.metadata

# --- macOS / Windows ---
.DS_Store
Thumbs.db

# --- Test reports & logs ---
/logs
/test/reports
/stacktrace.log

# --- Environment and config secrets ---
.env
.env.*
*.yml.prod
*.prod.yml
application-*.yml
*.yml
**/settings.xml

# --- Docker ---
docker-compose.override.yml
docker-compose*.override.yml
*.dockerfile

# --- Backup ---
postgres_backup
*.sql
*.dump

# --- CI/CD temporary ---
build/
out/
node_modules/

# --- Misc ---
*.idea/
*.classpath
tmp/**
